.main {
  background-color: rgb(240, 240, 240);
  margin-top: 100px;
  min-height: calc(100vh - 100px - 50px);
  padding: 20px;
}

.footer {
  background-color: rgb(226, 226, 226);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: black;
}