.main {
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  min-height: calc(100vh - 100px - 50px);
  padding: 20px;
}

.footer {
  background-color: rgb(224, 224, 224);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.footer a {
  text-decoration: none;
  color: black;
}

.h-center {
  margin: 0 auto;
}

.w-600 {
  width: 600px;
}

.form {
  width: 100%;
}

.form input,
.form label {
  display: block;
  width: 100%;
  margin: 8px 0;
  font-size: 1.1rem;
}

.form input {
  margin-bottom: 16px;
  font-size: 1rem;
  padding: 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 2px solid rgba(184, 184, 184, 0.294);
  outline: none;
}

.form button {
  display: block;
  color: rgb(255, 255, 255);
  border: none;
  border: 2px solid rgb(90, 90, 255);
  background-color: rgb(90, 90, 255);
  color: white;
  font-weight: bold;
  padding: 12px 32px;
  font-size: 1.1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: rgb(110, 110, 255);
}

.table {
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.table th {
  padding: 12px 16px;
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
  background-color: rgb(42, 42, 42);
  background-color: rgb(51, 111, 233);
  color: rgb(111, 158, 255);
  color: white;
}
.table td {
  padding: 10px 12px;
  color: rgb(32, 32, 32);
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
}

.table tr {
  /* border-bottom: 1px solid rgb(233, 233, 233); */
  background-color: rgb(255, 255, 255);
}

.table tr:nth-child(2n + 1) {
  background-color: rgba(228, 237, 255, 0.739);
}

.table a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 8px;
}

.table a:hover {
  color: rgb(0, 85, 255);
}

.r-align {
  text-align: right;
}

td.positive {
  color: rgb(7, 130, 7);
}

td.negative {
  color: red;
}

.page-title {
  margin: 20px auto;
  margin-top: 0;
  font-size: 2.3rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

.table tfoot tr {
  background-color: rgb(246, 246, 246);
  font-weight: bold;
}

.table tfoot tr:first-child {
  background-color: rgb(246, 246, 246);
}

.transaction-form {
  display: flex;
  align-items: center;
}

.transaction-form > div {
  border: 1px solid rgb(184, 184, 184);
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}

.transaction-form input {
  padding: 6px;
  text-align: center;
  font-size: 1rem;
  border: none;
  width: 4rem;
  outline: none;
  background-color: transparent;
}

.transaction-form ::-webkit-inner-spin-button {
  display: none;
}

.transaction-form button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.transaction-form button:first-child {
  background-color: transparent;
  color: rgb(255, 0, 0);
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 1.3rem;
}

.transaction-form button:nth-child(3) {
  background-color: transparent;
  color: rgb(8, 151, 3);
  width: 30px;
  height: 30px;
  font-weight: bold;
  font-size: 1.3rem;
}

.transaction-form > button {
  background-color: rgb(90, 90, 255);
  height: 30px;
  width: 60px;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
